spring:
  application:
    name: Order-Service
  datasource:
    url: jdbc:postgresql://localhost:5432/order_db
    username: postgres
    password: localSQL
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

server:
  port: 8080

user:
  service:
    url: http://localhost:8081

resilience4j:
  circuitbreaker:
    instances:
      userService:
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10s